*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: #fff;
    height: 100vh;
}

.nav-background{
    background: rgba(35, 37, 54, 1);
    height: 80px;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 12px;
    margin-left: -120px;
}

.logo-word{
    margin-left: -270px;
    margin-top: 24px;
    float: left;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}


/* .logo{
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    width: 20px;
    height: 10px;
} */

.nav{
    width: 120px;
    height: 80px;
    float: left;  
    margin-left: 350px;
}

ul{
    float: left;
    display: flex;
    margin-left: 400px;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 80px;
    margin-top: 20px;
    font-size: 16px;
}

ul li a{
    text-decoration: none;
    color: #af0303;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    display: inline-block;
}

/* ul li a:hover{
    color: rgba(0, 255, 149, 0.829);
} */

button{
    margin-left: 48px;
    margin-top: 20px;
    border-radius: 13px;
}

.loginbtn{
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    cursor: pointer;
}

.loginbtn a{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.loginbtn:hover{
    transition: .4s ease;
    background-color: rgba(0, 255, 149, 0.829);
}

/* .loginbtn{
    width: 1px;
    height: 10px;
    top: 14px;
    left: 1078px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s;
} */

.display{
    background: linear-gradient(to right, rgb(0,33,0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Sunset.jpg);
    width: 100%;
    height: 540px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;;
}

.display .slogan{
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 80px;
    margin-left: 30px;
    margin-top: 25px;
}

.display .slogan .words{
    margin-top: 10px;
    margin-left: 10px;
    color: #ffffff;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.display .slogan .login-btn{
    width: 186px;
    height: 65px;
    margin-left: 10px;
}

.login-btn{
    background-color: rgb(214, 107, 107);
    cursor: pointer;
    font-size: 25px;
}

.login-btn a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.login-btn:hover{
    transition: .4s ease;
    background-color: rgba(236, 35, 35, 0.829);
}

.home_blog{
    width: 1180px;
    height: 830px;
    top: 785px;
    left: 50px;
}
